@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500&display=swap');display=swap');

body {
}

main {
    margin-left: 3%;
    margin-top: 4%;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #BD291D;
    line-height: 40px;
    width: 40%;
    margin-left: 50%;
    padding-top: 6%;
    position: absolute;
}

img {
    position: fixed;
    padding-top: 5%;
    padding-left: 4%;
}

a {
    color: #BD291D;
    text-decoration: none;
}

a:hover {
    color: black;

}